h6{
    margin: 0 0;
}

.nav-padding{
    height: 3.5em;
}

.bg-dark{
    background-color: #070333;
}

.home_hero-general{
}

.home_content-block{
    padding: 50px 0px;
}

.home_innercontent-padding{
    padding: 20px 0px;
}

.home_secondarybackground{
    background-color: (0,0,0,0);
} 

.home_hero-img{
    max-height: 300px;
    object-fit: cover;
}

.univ_content-hero{
    max-height: 200px;
    object-fit: cover;
}

.univ_hero-general{
    height: 200px;
}

.store_product-collection{ 
    height: 100%;
    width: 100%;
}

.store_collection-card{
}

.product_summary-keys{
    padding: 0px 15px;
}

@media (max-width: 580px){
    #pagestart{
        margin-top: 14.5em;
    }
}

@media (min-width: 581px) {
    #pagestart{
        margin-top: 5.5em;
    }
}