#home_hero{
    background-color: #000000;
    padding: 50px 0px;
}

.home_content-block{
    padding: 50px 0px;
}

.home_innercontent-padding{
    padding: 20px 0px;
}

.home_secondarybackground{
    background-color: (0,0,0,0);
} 